<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>奇偶数判断程序</title>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	</head>
	<body>
		<div id="app2">
		<p>请您输入一个数： </p>
		<input v-model="message" placeholder="0">
		
		<br />
		<h3 style="color: red; size: 50px;">
			<p v-if="message%2==0 && message!=0">是偶数</p>
			<p v-if="message%2!=0">是奇数</p>
			<p v-if="message==0">0既不是奇数也不是偶数</p>
		</h3>
		
		</div>
		<script>
			new Vue({
				el:'#app2',
				data: {
					message: '0'
				}

			})
		</script>
	</body>
</html>
